:root {
  --base-color: #ed7f40;
  --ear-color: #ffba93;
  --mouth-color: #f2af71;
  --nose-color: #3a2614;
  --eye-color: #191008;
  --heart-color: #ff4242;
}

.sample {
  visibility: hidden;
  position: fixed;
}

.container {
  position: fixed;
  left: 25%;
  width: 50%;
  height: 100%;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  pointer-events: none;
  -webkit-touch-callout: none;
}

html, body {
  background-color: #f2f2f7;
  height: 100%;
  padding: 0;
  margin: 0;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  cursor: default;
}

.bear {
  transition: width 2s, height 2s;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
